@charset "UTF-8";
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight:bold;
  text-decoration: none;
  font-size: 12px;
  font-family: verdana;
  position: relative;
}
#cssmenu a {
  line-height: 30px;
  padding: 6px 15px;
  vertical-align:middle;
}
#cssmenu {
  *width: 200px;
}
#cssmenu > ul > li {
  cursor: pointer;
  background: #003b46;
  border-bottom: 1px solid #4c4e53;
}
#cssmenu > ul > li:last-child {
  border-bottom: 1px solid #3e3d3c;
}
#cssmenu > ul > li > a {
  font-size: 13px;
  display: block;
  color: #ffffff;
  text-shadow: 0 1px 1px #003b46;
  background: #07575b;
  background: -moz-linear-gradient(#07575b 0%, #66a5ad 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #07575b), color-stop(100%, #66a5ad));
  background: -webkit-linear-gradient(#07575b 0%, #66a5ad 100%);
  background: linear-gradient(#07575b 0%, #66a5ad 100%);
  vertical-align:middle;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  background: #07575b;
  background: -moz-linear-gradient(#07575b 0%, #000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #000));
  background: -webkit-linear-gradient(#07575b 0%, #000 100%);
  background: linear-gradient(#07575b 0%, #000 100%);
  color: #efefef;
  text-shadow: 0 1px 1px #709400;
}
#cssmenu > ul > li.has-sub > a:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border: 5px solid transparent;
  border-left: 5px solid #ffffff;
}
#cssmenu > ul > li.has-sub.active > a:after {
  right: 14px;
  top: 12px;
  border: 5px solid transparent;
  border-top: 5px solid #4e5800;
}
/* Sub menu */
#cssmenu ul ul {
  padding: 0;
  display: none;
}
#cssmenu ul ul a {
  background: #efefef;
  display: block;
  color: #797979;
  font-size: 13px;
}
#cssmenu ul ul a:hover{
  background: #66a5ad;
  color: #fff;
}
#cssmenu ul ul li {
  border-bottom: 1px solid #c9c9c9;
}
#cssmenu ul ul li.odd a {
  *background: #66a5ad;
  *color: #ffffff;
}
#cssmenu ul ul li:last-child {
  border: none;
}
